 @import "~bootstrap/scss/bootstrap";
 @import "dropzone";
 
 .checkedIcon{
	color: green;
 }

 .unCheckedIcon{
	color: lightgray;
 }

 .likedIcon{
	color: red;
 }

 .unLikedIcon{
	color: lightgray;
 }