@import "~bootstrap/scss/bootstrap";
@import "dropzone";

body{
	color:  grey;
}

button{
	background-color: whitesmoke !important;
	border: none !important;
	border-top-right-radius: 0 !important;
	color:  grey !important;
	&:hover{
		color: rgb(90, 88, 88) !important;
	}
}

a{
	color:  grey;
	&:hover{
		text-decoration: none;
		color: rgb(90, 88, 88);
	}
}

.add-card{
	opacity: 0.3;
}

.add-album-card-title{
	padding-top: 40px;
	padding-bottom: 67px;
}

.add-album-card-title-container{
	height: 200px;
	background-color: rgb(22, 22, 22);
	border-radius: 3px 3px !important;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	padding: 30px;
}

.album-card{
	height: 100%;
	background-color: whitesmoke;
	box-shadow: 2px 2px 2px gray;
}

.albumList-links{
	text-overflow: ellipsis;
	overflow: hidden;
}

.album-links{
	background-color: rgb(22, 22, 22);
	border-radius: 3px 3px !important;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	padding: 30px;
}

.card-title{
	height: 200px;
}

.checkedIcon{
	color: green;
	cursor: pointer;
}

.create-image{
   max-height: 400px;
}

.create-form{
   width: 400px;
   display: flex;
   flex-direction: column;
   justify-content: center;
}

.delete-icon{
	&:hover{
		color: rgb(90, 88, 88);
		cursor: pointer;
	}
}

.likedIcon{
	color: red;
	cursor: pointer;
}

.jumbotron-image{
	max-height: 400px;
}

.photographer-landingPage-links{
	padding: 30px;
	border-radius: 3px 3px;
	background-color: whitesmoke;
	color: gray;
	box-shadow: 2px 2px 2px gray;
	&:hover{
		text-decoration: none;
		color: rgb(90, 88, 88);
	}
}

.unLikedIcon{
	color: lightgray;
	cursor: pointer;
}

.unCheckedIcon{
	color: lightgray;
	cursor: pointer;
}